* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-header {
    display: flex;
    justify-content: center;
}
.main-header-bar {
    width: 100%;
    background-color: #FFF;
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-bottom: none;
    height: 5rem;
    position: fixed;
}
.main-header-bar:is-scrolled {
    backdrop-filter: blur(30px);
    background-color: #ffffffb3;
    border-bottom: 1px solid #dedee6;
}
.mn-hd-br-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 200px;
}

.menu-left-tab {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #8f9194;
    font-weight: 500;
}

.main-logo{
    width: 120px;
    height: 60px;
    padding-top: 10px;
}

.menu-right-tab {
    display: flex;
    gap: 10px;
}
.menu-right-tab button {
    padding: 10px;
    border-radius: 20px;
    border : 1px solid gray;
    background-color: #FFF;
}

/* ------------ 메인 컨텐츠 영역 ------------ */
.main-contents {
    height: 200vh;
    margin-top: 5rem;
}

.slide-img {
    height: 400px;
    background-color: #cccff1;
}

.study-list-card {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.study-list-card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 130px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid rgb(202, 201, 201);
    gap: 5px;
    letter-spacing: -1px;
    font-size: 14px;
}

.study-list-card-big{
    width: 1200px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}
.study-list-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sty-list-txt-big{
    font-weight: 900;
    font-size: 25px;
}

.study-list-card-big-content-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.study-list-card-big-content{
    width: 400px;
    height: 430px;
    border: 1px solid rgb(202, 201, 201);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px;

}
.study-list-card-big-content img {
    width: 100%;
    height: 50%;
    border-radius: 8px 8px 0 0;
}

.st-list-cd-b-cnt-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}